<div class="task-container">
  <h1>Task 1</h1>
  <h2>Create a custom directive which increments a counter on every mouse click and logs it in console</h2>
  <button appClick>Click me</button><br><br>
  <h1>Task 2</h1>
  <h2>Create a custom pipe which takes string argument and displayes first 2 characters of string</h2>
  <p>Enter String : <input type="text" name="str" id="str" placeholder="Enter the string" #stringVariable></p>
  <button (click)="sendData(stringVariable.value)">Submit</button>
  <p>{{ str | charPipe : length }}</p>
</div>